@model WebRentACar.Models.CarBrand

@{
    ViewData["Title"] = "Details";
}
<style>
    /* Set background color of the whole page to light gray */
    body {
        background-color: #808080; /* Light gray color */
        color: #333; /* Ensure text color is dark enough for readability */
    }

    /* Optional: You can style the content area separately if you want a white background for better contrast */
    .container {
        background-color: #ffffff; /* White background for content area */
        padding: 20px;
        border-radius: 8px;
    }

</style>
<h1>Details</h1>

<div>
    <h4>CarBrand</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
