@model WebRentACar.Models.CarBrand

@{
    ViewData["Title"] = "Edit";
}
<style>
    /* Set background color of the whole page to light gray */
    body {
        background-color: #808080; /* Light gray color */
        color: #333; /* Ensure text color is dark enough for readability */
    }

    /* Optional: You can style the content area separately if you want a white background for better contrast */
    .container {
        background-color: #ffffff; /* White background for content area */
        padding: 20px;
        border-radius: 8px;
    }

</style>
<h1>Edit</h1>

<h4>CarBrand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
